<form method="post" style="display: inline;" action="{{ path(constant('App\\Controller\\RouteName::ORDER_CANCEL'), {'id': order.id}) }}" onsubmit="return confirm('Êtes vous sûrs de vouloir annuler cette commande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-danger">Annuler la commande</button>
</form>