<form method="post" action="{{ path(constant('App\\Controller\\RouteName::USER_PROFILE_DELETE_ADDRESS'), {id: address.id}) }}" onsubmit="return confirm('Êtes vous sûrs de vouloir supprimer cette adresse ?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>