{% extends 'shop/shop_base.html.twig' %}

{% block title 'Créer mon compte' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer votre compte :</h1>
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Créer votre compte</button>
        {{ form_end(form) }}
    </div>
{% endblock %}